section{
    overflow:hidden;
  
}
.slider{
     background-image: url('../back/back3.png');
     background-repeat: no-repeat;
     height:410px;
}
.slider_1{
    margin-left:500px;
}


.text_1{
    font-family:'Myriad Pro Regular';
    font-size:58px;
    padding-top:40px;
    font-weight:bold;
}
.text_2{
    font-family:'Myriad Pro Regular';
    font-size:40px;
    padding-left:40px;
    font-weight:bold;
}
.button_1{
    background:linear-gradient(#4fa5b6, #318ea2);
    color:#fff;
    height:50px;
    width:210px;
    font-family:'Myriad Pro Regular';
    font-size:30px;
    font-weight:bold;
    border-radius: 8px;
    border:none;
    margin-left:70px;
    margin-top:40px;
}