
@import './fonts/style.css'; 
@import './css/style_section.css';
@import './css/main.css';
@import './css/footer.css';
*{
    margin: 0;
    padding: 0; 
}
body{
    background:linear-gradient(#e3e3e3, #e2e2e2);
}


.container{
    width:920px;
    margin:0 auto;
    height: 1480px;
}
 

header{
    height:160px;
}
.logo{
    margin-top:20px;
    margin-bottom:20px;
}

nav ul{
    overflow: hidden;
    border: 1px solid #cccccc;
    border-radius: 10px;
    background:linear-gradient(#fdfdfd,#e6e6e6 );
    display:table;
    box-shadow:1px 1px 2px #cccccc, 1px 1px 2px #cccccc;
}
nav ul li{
    float:left;
    list-style: none;
    border-left:1px solid #fff;
    display:table-cell;
    border-right: 1px solid #cccccc;
    
}
.active{
    background:linear-gradient(#4ea4b6, #308da2);
    color:#fff;
}
nav ul li:first-child{
    border-left: none;
}
nav ul li:last-child {
    border-right:none;
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;

}

nav ul li a{
    text-decoration: none;
   display:inline-block;
   font-family: 'Myriad Pro Regular';
   color: #000;
   font-size:20px;
   padding: 15px 55px; 
}

nav ul li a:hover{
    background:linear-gradient(#4fa5b6,#318ea3);
    color:#fff;
}

